<% if (post.tags && post.tags.length){ %>
  <li class="article-footer-tags">
    <i class="fa fa-tags"></i>
      <% post.tags.forEach(function (tag) { %>
    <a href="<%= config.root %>tags/<%= tag.name.replace(/\s+/g, '') %>/" class="color<%= tag.name.length % 5 + 1 %>"><%- tag.name %></a>
      <% }) %>
  </li>
  <li class="article-footer-tags">
    <a data-type="8" data-tmpl="527x25" data-tmplid="224" data-style="2" data-border="1" biz-g_lgo="0" biz-g_hot_x="11" biz-g_hot_site="14" biz-g_hot_space="0" biz-g_hot_color="#000" href="#">文字链</a>
  </li>
<% } %>

