<div class="post-taobao">
    <p align="center">
        <img src="<%- url_for(theme.hongbao) %>" alt="扫码领红包"></img>
    </p>
    <div class="content">
        <p>
        <a href="https://s.click.taobao.com/9Pjx8Xw" target="_blank" titile="2017淘宝双12，淘宝主会场，跨店满减 红包疯抢">
            <img src="<%- url_for(theme.taobao1212) %>" alt="2017淘宝双12，淘宝主会场，跨店满减 红包疯抢" height="100"></img>
        </a>
        <br/>
        PC访问链接：
        <a href="https://s.click.taobao.com/9Pjx8Xw" target="_blank" title="2017淘宝双12，淘宝主会场，跨店满减 红包疯抢">
            2017淘宝双12，淘宝主会场，跨店满减 红包疯抢
        </a>
        <br/><br/>
        淘口令：￥oPsP0iJ9FT6￥ （复制此行再打开手机淘宝客访问）
        </p>
    </div>
</div>
