<div class="post-taobao">
    <p align="center">
        <img src="<%- url_for(theme.hongbao) %>" alt="扫码领红包"></img>
    </p>
    <div class="content">
        <p>
        <a href="https://s.click.taobao.com/DY7AGLw" target="_blank" titile="2018双11超级红包">
            <img src="<%- url_for(theme.taobao1212) %>" alt="2018双11超级红包" height="100"></img>
        </a>
        <br/>
        PC访问链接：
        <a href="https://s.click.taobao.com/DY7AGLw" target="_blank" title="2018双11超级红包 预售开启 汇聚全球潮流新品">
            2018双11超级红包 预售开启 汇聚全球潮流新品
        </a>
        <br/><br/>
        淘口令：￥20Y0b6q4eHR￥ （复制此行再打开手机淘宝客访问）
        </p>
    </div>
</div>
