<div class="post-taobao">
    <p align="center">
        <img src="<%- url_for(theme.hongbao) %>" alt="扫码领红包"></img>
    </p>
    <div class="content">
        <p>
        <a href="https://s.click.taobao.com/cly2AUw" target="_blank" titile="迎新年 有心礼">
            <img src="<%- url_for(theme.taobao1212) %>" alt="迎新年 有心礼" height="100"></img>
        </a>
        <br/>
        PC访问链接：
        <a href="https://s.click.taobao.com/cly2AUw" target="_blank" title="新人领取188元红包，老人红包随机，超值好货0元购">
            新人领取188元红包，老人红包随机，超值好货0元购
        </a>
        <br/><br/>
        淘口令：￥Debs0N8WRZt￥ （复制此行再打开手机淘宝客访问）
        </p>
    </div>
</div>
