<div class="post-taobao">
    <div class="content">
        <p>
            <a data-type="3" data-tmpl="600x90" data-tmplid="193" data-rd="2" data-style="2" data-border="1" href="#"></a>
        </p>
    </div>
</div>
